# 01. Data Understanding & Profiling

In [1]:
import sys
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Add project root to sys.path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

print(f"Project Root: {project_root}")

Project Root: c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI

In [2]:
from src.preprocessing.data_loader import load_all_datasets

data_dir = os.path.join(project_root, 'data', 'raw')
print(f"Loading raw datasets from: {data_dir}")

datasets = load_all_datasets(data_dir)

if datasets['enrolment'] is not None:
    print("Enrolment Data:")
    display(datasets['enrolment'].head())
    display(datasets['enrolment'].info())

Loading raw datasets from: c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI\data\raw
Loading enrolment from split folder: api_data_aadhar_enrolment
Found 3 files in c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI\api_data_aadhar_enrolment. Merging...
Combining 1 sources for enrolment
Loading biometric from split folder: api_data_aadhar_biometric
Found 4 files in c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI\api_data_aadhar_biometric. Merging...
Combining 1 sources for biometric
Loading demographic from split folder: api_data_aadhar_demographic
Found 5 files in c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI\api_data_aadhar_demographic. Merging...
Combining 1 sources for demographic
Enrolment Data:

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  datetime64[ns]
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 53.7+ MB

None

## Biometric Data Profiling

In [3]:
if datasets['biometric'] is not None:
    display(datasets['biometric'].head())

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,2025-03-01,Haryana,Mahendragarh,123029,280,577
1,2025-03-01,Bihar,Madhepura,852121,144,369
2,2025-03-01,Jammu and Kashmir,Punch,185101,643,1091
3,2025-03-01,Bihar,Bhojpur,802158,256,980
4,2025-03-01,Tamil Nadu,Madurai,625514,271,815