# 02. Data Merging & Consolidation

In [1]:
import sys
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Add project root to sys.path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

print(f"Project Root: {project_root}")

Project Root: c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI

This notebook demonstrates the pipeline logic interactively.

In [2]:
from src.preprocessing.data_loader import load_all_datasets
from src.preprocessing.feature_engineering import create_master_table

data_dir = os.path.join(project_root, 'data', 'raw')
datasets = load_all_datasets(data_dir)

# Create Master Table
try:
    master_df = create_master_table(datasets)
    print("Master table created successfully.")
    display(master_df.head())
    
    # Check for missing values
    print("Missing Values Summary:")
    print(master_df.isnull().sum())
except Exception as e:
    print(f"Error: {e}")

Loading enrolment from split folder: api_data_aadhar_enrolment
Found 3 files in c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI\api_data_aadhar_enrolment. Merging...
Combining 1 sources for enrolment
Loading biometric from split folder: api_data_aadhar_biometric
Found 4 files in c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI\api_data_aadhar_biometric. Merging...
Combining 1 sources for biometric
Loading demographic from split folder: api_data_aadhar_demographic
Found 5 files in c:\Users\Kaustab das\Desktop\Aadhaar Pulse AI\api_data_aadhar_demographic. Merging...
Combining 1 sources for demographic
Master table created successfully.

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,bio_age_5_17,bio_age_17_,demo_age_5_17,demo_age_17_,total_enrolment,total_bio_updates,total_demo_updates,total_updates
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11.0,61.0,37.0,NaN,NaN,NaN,NaN,109.0,0.0,0.0,0.0
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14.0,33.0,39.0,NaN,NaN,NaN,NaN,86.0,0.0,0.0,0.0
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29.0,82.0,12.0,NaN,NaN,NaN,NaN,123.0,0.0,0.0,0.0
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62.0,29.0,15.0,NaN,NaN,NaN,NaN,106.0,0.0,0.0,0.0
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14.0,16.0,21.0,NaN,NaN,NaN,NaN,51.0,0.0,0.0,0.0

Missing Values Summary:
date                        0
state                       0
district                    0
pincode                     0
age_0_5               1697241
age_5_17              1697241
age_18_greater        1697241
bio_age_5_17           694666
bio_age_17_            694666
demo_age_5_17          770073
demo_age_17_           770073
total_enrolment             0
total_bio_updates           0
total_demo_updates          0
total_updates               0
dtype: int64